.form {
  width: 100%;
  background: #132347;
  padding: 30px;
  border-radius: 5px;
}

.form__input input,
.form__input textarea {
  width: 100%;
  padding: 15px 15px;
  color: #fff;
  margin-bottom: 15px;
  background: #102048;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: .8rem;
  resize: none;
}

.form__input textarea {
  min-height: 220px;
}

.submit__btn {
  margin-top: 15px;
  padding: 7px 25px;
  font-size: .9rem;
  background: #7865ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .form__input textarea {
    min-height: 150px;
  }

  .submit__btn {
    padding: 5px 25px;
    font-size: .8rem;
  }
}

@media only screen and (max-width: 576px) {
  .form__input textarea {
    min-height: 100px;
  }
}